<!--Componente Inicial-->
<div class="container">
    <div class="row" [hidden]="view == true">
       <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
            <div class="card" style="width: 100%;">
            <img src="../assets/img/new.jpg" class="card-img-top img-fluid t1" alt="">
                <div class="card-body">
                    <h5 class="card-title">Registro de Clientes</h5>
                    <p class="card-text">Ingreso de campos como: nombre del cliente, DUI, y Vehículo.</p>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-dark btn-block" (click)="mostrar1()">Crear Nuevo Cliente</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-dark btn-block" (click)="mostrar3()">Ver Clientes</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
            <div class="card" style="width: 100%;">
            <img src="../assets/img/pay.jpg" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title">Generar Ticket de Reparación</h5>
                    <p class="card-text">Ingreso de campos como: nombre del cliente y costo de reparación</p>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-dark btn-block" (click)="mostrar2()">Generar Nuevo Ticket</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-dark btn-block" (click)="mostrar4()">Ver Historial</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!--Componente de Clientes-->
    <app-clientes   [hidden]="showmodel1 == true" 
                    [viewprincipal]="view" 
                    [model1]="showmodel1"
                    [registro]="arregloClientes" 
                    (viewchange)="view = $event" 
                    (hidemodel1)="showmodel1 = $event" 
                    (conjCliente)="arregloClientes = $event"></app-clientes>
    <!--Componente de Reparaciones-->
    <app-pagos [hidden]="showmodel2 == true" 
                [viewPrince]="view" 
                [model2]="showmodel2" 
                [clientesReg]="arregloClientes" 
                (viewOpen)="view = $event" 
                (hidemodel2)="showmodel2 = $event"
                (arregloModCliente)="arregloClientes = $event" 
                (arregloTicket)="arregloHisto = $event"></app-pagos>
    <!--Componente de tabla de clientes-->
    <app-tabla-cliente [hidden]="showmodel3 == true" 
                        [model3]="showmodel3" 
                        [resultadosCliente]="arregloClientes" 
                        [viewCentral]="view" 
                        (viewHome)="view = $event" 
                        (hidemodel3)="showmodel3 = $event"></app-tabla-cliente>
    <!--Componente de tabla de reparaciones-->
    <app-tabla-historial [hidden]="showmodel4 == true" 
                        [model4]="showmodel4" 
                        [resultadosHistorial]="arregloHisto" 
                        [viewhome]="view" 
                        (viewCen)="view = $event" 
                        (hidemodel4)="showmodel4 = $event"></app-tabla-historial>
    
</div>